/*BIG TABLETS TO 1200PX*/


/*MEDIUM TABLETS, 750-1140PX*/


/*SMALL TABLETS, 481-749PX*/


/*SMALL PHONES < 480PX*/

body {
    background-color: blue;
}

@media all and (min-width: 768px) {
    body {
        background-color: red;
    }
}

@media all and (min-width: 1024px) {
    body {
        background-color: green;
    }
}

@media all and (min-width: 1200px) {
    body {
        background-color: purple;
    }
}